body{
   
   background:rgb(207, 207, 207);
}

div{
    padding-left: 50px;
    display: flex;
    justify-content: center;
}

p {
    padding-left: 35px ;
     font-size: 20px;
     color: black;

}

img{

    padding-left: 35px ;
}

ul{
    font-size: 20px;
}

#table-prices{
    display: flex;
    justify-content: center;
}
a{
    margin-left: 35px;
}